<div class="block">
  <div class="notification is-info">

<span class="button is-info">Super X School</span>
<span class="icon">
<i class="fa fa-github"></i>
</span>
<span class="icon">
<i class="fa fa-github"></i>
</span>

</div>
</div>
