<div class="block">
  <div class="notification is-info">

<span class="button is-info">Super X School</span>
<span class="button is-info">白皮书</span>
<span class="button is-info">教程</span>
<span class="button is-info">提交课程</span>
<span class="button is-info">账号预览</span>
<span class="button is-info">没有检测到账户</span>


</div>
</div>
