
<nav>

 <div class="">

 </div>

</nav>

 <%= render 'footer' %>

<ul>
  <li>白皮书</li>
  <li>教程</li>
</ul>

<ul>
  <li>提交课程</li>
  <li>账号预览</li>
  <li>没有检测到账户</li>
</ul>



<h1>名师精选</h1>
<p>更多教师</p>


<h1>精选课程</h1>
<p>更多课程</p>




<h1>Super X School</h1>
