// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner{
width: 100%;
height: 550px;
background-image: url(https://ws2.sinaimg.cn/large/006tNc79gy1fshsnlqo9kj31kw0y54qw.jpg);
background-color: #CCCCCC;
background-position: center;
background-size: 1920px 550px;
background-repeat: no-repeat;
}
